doctype

html

	head
		title S M I T H B O Y S
		link(rel='stylesheet' href='/static/smithboys.css')

	body

		#map

		#info-template
			.title
			.location
			.sublocation
			.address
			.postcode

		script(async, defer, src=`https://maps.googleapis.com/maps/api/js?key=${GMAPS_API_KEY}&callback=initMap`)
		script
			!= `var pubs = ${JSON.stringify(pubs)}`
		script(src=`/static/smithboys.js`)
