doctype

html

	head
		title S M I T H B O Y S
		link(rel='stylesheet' href='/static/smithboys.css')
		meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')

		script.
			if ( location.hostname.indexOf( 'local' ) === -1 && location.protocol !== 'https:' ) {
				location.protocol = 'https:'
			}

	body

		#map

		#info-template
			.name
			.distance
			.location
			.sublocation
			.address
			.postcode

		script(src=`/static/smithboys.js`)
		script(async, defer, src=`https://maps.googleapis.com/maps/api/js?key=${GMAPS_API_KEY}&callback=initMap`)
		script
			!= `var pubs = ${JSON.stringify(pubs)}`
